html
    head
        title= title
    style
        include style.css
    body
        p Logowanie
        form(action="/login", method="post")
            input(type="text" name="login")
            br
            input(type="password" name="password")
            br
            input(type="submit", value="Zaloguj się")