lab6_7/node_modules
lab6_7/geckodriver
lab6_7/krok7.js
lab6_7/main.js
lab6_7/opis.js
lab6_7/submit.js
Quiz/quizJSON.js
Quiz/mainButtonFunctionalities.js
Quiz/quizFunctionalities.js
Quiz/resultFunctionalities.js
