@media only screen and (max-width:599px) {
    .kontener {
        display: grid;
        grid-template-columns:100%;
        grid-row-gap:15px;
    }

    .tabelka{
        grid-column: 1 / 1;
        justify-content:center;
    }

    #navmenu{
        grid-column: 1 / 1;
        justify-content:center;
    }

    .odwolane{
        grid-column: 1 / 1;
        justify-content:center;
    }

    #rezerwacja{
        grid-column: 1 / 1;
        justify-content:center;
    }

    .menu{
        display:table;
        margin-left:auto;
        margin-right:auto;
    }
    
    img, .temperatura {
        display: none;
    }
}

@media only screen and (min-width:600px) and (max-width:1399px) {
    .kontener {
        display: grid;
        grid-template-columns:50% 50%;
        grid-template-rows:50% auto;
        grid-row-gap:15px;
    }

    .tabelka{
        grid-row:1 / 1;
        grid-column: 2 / 2;
        justify-content:center;
    }

    #navmenu{
        grid-row:1 / 1;
        grid-column: 1 / 1;
        justify-content:center;
    }

    .menu, table{
        display:table;
        margin-left:auto;
        margin-right:auto;
    }

    .odwolane{
        grid-row: 2 / 2;
        grid-column: 2 / 2;
        justify-content:center;
    }

    #rezerwacja{
        grid-row:2 / 2;
        grid-column: 1 / 1;
        justify-content:center;
    }

    img, .temperatura {
        display: none;
    }
}

body {
    text-align: center;
}

.sub {
    background-image: url("https://images.wallpaperscraft.com/image/plane_sky_flight_138082_1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    background-image: url("https://images.wallpaperscraft.com/image/plane_sky_flight_138082_1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 1.5em;
}

footer {
    position:absolute;
    bottom:0px;
    right:0px;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    text-align: right;
}

table, td, th {
    font-weight: 500;
    border: 2px solid black;
    text-align: left;
    padding: 2px;
}

th {
    font-weight: bold;
    font-style: italic;
}

#pierwszy, #drugi {
    color: green;
}

li {
    text-align: left;
}

:visited {
    color: rgb(6, 6, 179);
}

a {
    text-decoration: none;
}

.duze_op {
    border-color: rgb(206, 137, 10);
}

.male_op {
    border-color: rgb(206, 206, 22);
}

.odwolany {
    border-color: rgb(189, 8, 8);
}

.op {
    font-weight: bold;
}

#rezerwacja p {
    font-weight: bold;
    font-size: 18px;
}

.przycisk {
    width: 100px;
    height: 30px;
}

@media only screen and (min-width:1400px) {
    .kontener {
        display: grid;
        grid-template-columns:200px calc(66.6666% - 133.33px) calc(33.3333% - 66.666px);
        grid-template-rows:50% auto;
        grid-row-gap:15px;
    }

    .tabelka {
        grid-row:1 / 1;
        grid-column: 2 / 2;
        justify-content:center;
    }
    .tabelka table {
        margin-left: auto;
        margin-right: auto;
    }
    .prawa {
        margin-left: 20%;
        display: inline-block;
    }
    .lewa {
        display: inline-block;
    }
    .city {
        width: 300px;
    }
    .icon {
        margin-left: 5px;
        width: 60px;
        vertical-align: middle;
    }
    .temperatura {
        vertical-align: middle;
        display: inline;
        text-align: right;
    }
    #samolotimg {
        width: 300px;
        margin-left: 0.5%;
    }
    .pasazerowie {
        display: table;
        margin: 0 auto;
    }

    .pasazerowie li:nth-child(2n){
        background-color:gold;
    }

    #navmenu {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        justify-content:center;
    }
    .menu {
        list-style: none;
        font-family: Helvetica;
        color: black;
        text-transform: uppercase;
        font-size: 16px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .odwolane {
        grid-row: 1 / 1;
        grid-column: 3 / 3;
        justify-content:center;
    }
    .odwolane table {
        margin-left: auto;
        margin-right: auto;
    }

    #rezerwacja {
        grid-row:2 / 2;
        grid-column:3 / 3;
        justify-content:center;
    }
    #rezerwacja label {
        font-size: 16px;
    }
    
    .siedzenie{
        display:none;
    }

    .pasazerowie li:hover .siedzenie{
        position:absolute;
        display: inline-block;
        left:1070px;
    }
}